.addon-rmtr {
    background-image: url(../img/icon.png) !important;
}

.rmtr-welcome {
  background-image: url("../img/house.png") !important;
}

.rmtr-select {
  background-image: url("../img/marker.png") !important;
}

.rmtr-line-select {
  background-image: url("../img/line.png") !important;
}

.rmtr-form {
  background-image: url("../img/email_go.png") !important;
}