.addon-rctr {
    background-image: url(../img/icon.png) !important;
}

.rctr-welcome {
  background-image: url("../img/house.png") !important;
}

.rctr-select {
  background-image: url("../img/marker.png") !important;
}

.rctr-form {
  background-image: url("../img/email_go.png") !important;
}